.main__title {
  font-size: 24px;
  font-weight: normal;
  margin: 55px 0 40px 70px;
}

@media screen and (max-width: 1155px) {
  .main__title {
    margin: 45px 0 30px 30px;
  }
}

@media screen and (max-width: 610px) {
  .main__title {
    font-size: 17px;
    margin: 125px 0 13px 14px;
  }
}