.main__info-round {
  min-width: 40px;
  min-height: 40px;
  background-color: #F1F4F9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 610px) {
  .main__info-round {
    margin-right: 18px;
  }
}