.logo {
  width: 291.26px;
  height: 60px;
}

@media screen and (max-width: 610px) {
  .logo {
    width: 170px;
    height: 35px;
  }
}

@media screen and (max-width: 350px) {
  .logo {
    width: 150px;
    height: 31px;
  }
}