.header__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 70px;
}

@media screen and (max-width: 1155px) {
  .header__container {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 610px) {
  .header__container {
    padding: 26px 14px;
  }
}